---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "My Astro Learning Blog";

const navColor = "white";
const navWeight = "bold";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{navColor, navWeight}}>
			.nav {
				color: var(--navColor);
				font-weight: var(--navWeight);
			}
		</style>
	</head>
	<BaseLayout pageTitle={pageTitle}>
		<p>I'll add more stuff here once I have something to talk about</p>
        <ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
	</BaseLayout>
</html>
